{%extends "navbar.html"%}
{%block content%}
<div class="container form-control" style="margin-top: 50px;">
    <div class="row">
        <div class="col-2">
            <a href="{%url 'book_entry'%}"  class="form-control" style="text-decoration: None;">New Book Entry</a>
        </div>
        <div class="col" align="center">
            <h1 style="color:blueviolet; border:2px solid; " class="form-control">Books List</h1>
        </div>
        <div class="col-2">
           {%if count%} <h1  align="center" style="color:blueviolet; border:2px solid; "  class="form-control">{{count}}</h1>{%endif%}
        </div>
    </div>
</div><br>

<div class="container form-control">
    <div class="row">
        <div class="col" align="center">
            Book Name
        </div>
         <div class="col" align="center">
            Branch
        </div> 
        <div class="col" align="center">
            No of books
        </div> 
    </div>
<form action="" method="POST">{%csrf_token%}
    <div class="container form-control">
        <div class="row">
            <div class="col">
                <input type="text" align="center" name="book_name" id="book_name" class="form-control" value="{{data.Book_name}}">
            </div>
            <div class="col"> 
                <input type="text" align="center" name="branch" id="branch" class="form-control" value="{{data.Branch}}">
            </div>
            <div class="col">
               <input type="text"  align="center" name="no_books" id="no_books"  class="form-control" value="{{data.No_of_books}}">
            </div>
        </div><br>
        <div class="row">
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col" align="right">
                <input type="submit" value="Submit" class="btn btn-primary shadow"  >
            </div>
        </div>
    </div>

</form>

{%endblock%}